
{% assign sidebar = site.data[page.sidebar] %}
<div class="mydocsidebar">
<div class="sidebar-inner">
<div class="productTitle">{{sidebar.sidebarTitle}}</div>
<!-- search bar -->
{% unless page.search == false %}
<div class="sidebarSearchBar">
<form action="search-{{page.sidebar}}.html" method="get">
  <div class="input-group search">
    <input type="text" id="search-box" name="query" class="form-control" placeholder="{{site.uistring.search_placeholder_product}}">
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit" value="search">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
</form>
</div>
{% endunless %}
<!-- end search bar -->
<ul id="docnavsidebar" class="docnav">
    {% for folder in sidebar.folders %}
    <li class="level1"><a href="#">{{ folder.title }}</a>
        <ul style="display:none">
            {% for folderitem in folder.folderitems %}

            {% if folderitem.title %}
            {% if page.url == folderitem.url %}
            <li class="level1items open"><a href="{{folderitem.url | remove: "/" }}">{{folderitem.title}}</a></li>
            {% elsif folderitem.url contains "http://" or folderitem.url contains "https://" %}
            <li class="level1items"><a  class="noCrossRef" href="{{folderitem.url }}">{{folderitem.title}}</a></li>
            {% else %}
            <li class="level1items"><a href="{{folderitem.url | remove: "/" }}">{{folderitem.title}}</a></li>
            {% endif %}
            {% endif %}

            {% for subfolder in folderitem.subfolders %}

            <li class="level2"><a class="subfoldersTitle" href="#">{{ subfolder.title }}</a>
                <ul style="display:none;">
                    {% for subfolderitem in subfolder.subfolderitems %}

                    {% if subfolderitem.title %}
                    {% if page.url == subfolderitem.url %}
                    <li class="level2items open"><a href="{{subfolderitem.url | remove: "/" }}">{{subfolderitem.title}}</a></li>
                    {% elsif folderitem.url contains "http://" or folderitem.url contains "https://" %}
                    <li class="level2items"><a  class="noCrossRef" href="{{subfolderitem.url }}">{{subfolderitem.title}}</a></li>
                    {% else %}
                    <li class="level2items"><a href="{{subfolderitem.url | remove: "/" }}">{{subfolderitem.title}}</a></li>
                    {% endif %}
                    {% endif %}

                    {% for subsubfolder in subfolderitem.subsubfolders %}
                    <li class="level3"><a class="subfoldersTitle" href="#">{{ subsubfolder.title }}</a>
                        <ul style="display:none;">
                            {% for subsubfolderitem in subsubfolder.subsubfolderitems %}

                            {% if subsubfolderitem.title %}
                            {% if page.url == subsubfolderitem.url %}
                            <li class="level3items open"><a href="{{subsubfolderitem.url | remove: "/" }}">{{subsubfolderitem.title}}</a></li>
                            {% elsif folderitem.url contains "http://" or folderitem.url contains "https://" %}
                            <li class="level3items"><a href="{{subsubfolderitem.url }}">{{subsubfolderitem.title}}</a></li>
                            {% else %}
                            <li class="level3items"><a href="{{subsubfolderitem.url | remove: "/" }}">{{subsubfolderitem.title}}</a></li>
                            {% endif %}
                            {% endif %}

                            {% endfor %}
                        </ul>
                    </li>

                    {% endfor %}

                    {% endfor %}
                </ul>
            </li>

            {% endfor %}

            {% endfor %}
        </ul>

        {% endfor %}

    </li>
</ul>

<hr class="resourceSeparator"></hr>
<div class="relatedResources">{{sidebar.related_resources_title}}</div>
<ul id="entrypages">
        {% for item in sidebar.related_resources_list %}
        <li><a class="noCrossRef" href="{{item.url }}">{{item.title}}</a></li>
        {% endfor %}
    </li>
</ul>
</div>
</div>
<script>$("li.open").parents('li').toggleClass("open");</script>
