<p>{{site.uistring.tag_terms.tag_page_intro}} <b>{{page.tag_display}}</b>.</p>

<table>
    <thead>
        <tr>
            <th>{{site.uistring.tag_terms.product}}</th>
            <th>{{site.uistring.tag_terms.page}}</th>
            <th>{{site.uistring.tag_terms.excerpt}}</th>
        </tr>
    </thead>
    <tbody>
    {% assign thisTag = page.tag_name %}
    {% for collection in site.collections %}
        {% for doc in collection.docs %}
           {% for tag in doc.tags %}
                {% if tag == thisTag %}
                    <tr>
                        <td>{{doc.product}}</td>
                        <td><a href="{{ doc.url | remove: "/" }}">{{doc.title}}</a></td>
                        <td>{{ doc.content | truncatewords: 50 | strip_html }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
