{% if page.tags[0] %}

<div class="tags">
<div class="tags_title">{{site.uistring.tags_title}}</div>
{% for tag in page.tags %}
{% assign doctags = site.data[page.tag_group] %}
{% for folder in doctags.folders %}
{% for folderitem in folder.folderitems %}
{% if folderitem.tag_name == tag %}
<span class="tag-button">
<a href="{{ "tag-" | append: tag | append: ".html" }}"><span class="label label-default">{{folderitem.title}}</span></a>
</span>
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
</div>
{% endif %}
