<div class="inner">

{% unless page.toc == false %}
<style>
nav#toc >ul::before, nav#toc2 >ul::before {
    content: "{{site.uistring.minitoc_title}}";
}
</style>
<script>
$( document ).ready(function() {
  // Handler for .ready() called.

$('#toc').toc({ minimumHeaders: 2, listType: 'ul', showSpeed: 0, headers: 'h2,h3,h4' });

/* this offset helps account for the space taken up by the floating toolbar. */
$('#toc').on('click', 'a', function() {
  var target = $(this.getAttribute('href'))
    , scroll_target = target.offset().top

  $(window).scrollTop(scroll_target - 80);
  return false
})

});
$(window).scroll(function(){
  $('nav#toc')[0].scrollTop=$(window).scrollTop();
});
</script>

<nav id="toc"></nav>

{% endunless %}
</div>
