/*
http://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap-3
http://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0
*/

/*
.navbar-default {
  background-color: #b03ce7;
  border-color: #2bc064;
}
.navbar-default .navbar-brand {
  color: #1ebfe7;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #1ebfe7;
}
.navbar-default .navbar-nav > li > a {
  color: #1ebfe7;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #b03ce7;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #1ebfe7;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffbbbc;
  background-color: #2bc064;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #2bc064;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffbbbc;
  background-color: #2bc064;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #2bc064;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #2bc064;
}
.navbar-default .navbar-toggle {
  border-color: #2bc064;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2bc064;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #1ebfe7;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #1ebfe7;
}
.navbar-default .navbar-link {
  color: #1ebfe7;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #1ebfe7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #2bc064;
  }
}
*/
